header {
    height: 900px;
    background-image: url('/Fonts/datacenter.jpg');
    background-size: cover;
    background-position: center;
}

header h1, p {
    text-align: center;
    width: 900px;
    color: lawngreen;
    position: relative;
    top: 300px;
    left: 500px;
    font-size: 38px;
}

header button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #3a3c93, #e923b5);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 310px;
    left: 850px;
}

header button:hover {
    background-color: #45a049;
}

#about{
    text-align: center;
    width: 900px;
    position: relative;

    left: 500px;
}

#vps{
    text-align: center;
    width: 900px;
    position: relative;
    top: 300px;
    left: 500px;
}

footer{
    text-align: center;
    width: 1860px;
    height: 500px;
    position: relative;
    top: 1000px;
    background-color: dimgray;
    p{
    color: white;
    font-size: 30px;
}
}

.theme-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.toggle-label {
    font-family: Arial, sans-serif;
    color: lawngreen;
    cursor: pointer;
}

.dark-theme {
    background-color: #222;
    color: #fff;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

