header {
    height: 400px;
    background-image: url('/Fonts/datacenter.jpeg');
    background-size: cover;
    background-position: center;
}

header h1, p {
    text-align: center;
    width: 750px;
    color: #ccbcd1;
    position: relative;
    top: 300px;
    font-size: 38px;
}

header button {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(45deg, #3a3c93, #e923b5);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 310px;
    left: 280px;
}

header button:hover {
    background-color: #45a049;
}
